.chefbackground{
    display: flex;
    justify-content: center;
    border-radius: 200px;
}
.chefbackgroundimg{
    border-radius: 50px; 
}
.chef-content p{
    display: inline;
    justify-content: center;
    padding: 240px;
}
.exploreMore{
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-weight: bold;

}
.recipebgImg{
    border-radius: 50px; 
    margin-left: -100px;   
}